
.navbar .nav-left a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.caption {
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    height: 100vh;
}
.caption  p{
    font-size: 40px;
    font-weight: bolder;
    width: 400px;
    text-align: center;
}
/*End section 1*/


.info
{
    padding: 7rem 0;
    background-color: #F8F9FA;
}
.fas
{
    font-size: 4.5rem;
}
.info-caption
{
    font-size: 1.25rem;
    font-weight: 300;
}
/*End section 1*/

.img-info{
    height: 440px;
}













/* *{
    font-family: "Poppins", sans-serif
}
.navbar .collapse .navbar-nav .nav-item a span{
    color:#20C989;
}
.navbar .collapse .navbar-nav .nav-item a:hover{
    color:#20C989;
}
.collapse .navbar-nav li {
    padding-left: 10px;
}
.home {
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    height: 100vh;
}

 .caption h1{
    font-size: 80px;
}
 .caption button{
    border: 2px solid #20C997;
    color:#20C997 ;
}
 .caption button:hover{
    background-color: #20C997;
    color: #FFF;
    transition: all 0.5s;
} */





